<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            {% for ste in stern %}
            <div class="item">
                   <div class="ceed">
                       <a href="/buy/{{ste.owner}}">
                       <img src="{{ste.image.url}}" class="img-fluid" alt="First Slide">
                    </a>
                       <div class="ceed-flex">
                        <h1>{{ste.name}}</h1>
                    <p class="descr">{{stern.description}}</p>
                    <h2>${{ste.price}}</h2>
                   <a href="/buy/{{ste.owner}}">{{ste.owner}} 5<i class='bx bxs-star start' ></i></a>
                        <button>Add to cart</button></div>
                   </div>
            </div>
            {% endfor %}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<script>
    const carousel = document.querySelectorAll('.item')
    carousel[0].classList.add('active')
</script>