{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create product</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    {% endblock %}
</head>
<body>
    {% block body %}
    <form action="{% url 'createproduct' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>create Product</h1>
        <input type="text" name="name" id="" placeholder="product name">
        <label for="image">
            <input type="file" name="image" id="image" hidden> product image
        </label>
        <textarea name="description" id="" placeholder="Describe the product "></textarea>
        <input type="number" name="price" id="" placeholder="Price">
        <select name="category" id="">
            <option value="">Choose a category</option>
        {% for cate in category %}
         <option value="{{cate.name}}">{{cate.name}}</option>
        {% endfor %}
    </select>
    <button>Create Product</button>
    </form>
    {% endblock %}
</body>
</html>